<div class="app">
  <div class="d-flex align-items-center">
    <img class="logo" src="assets/images/logo.png"/>
  </div>
  <h1 class="m-4 text-center">Announcements generator</h1>
  <div class="animated d-flex flex-column align-items-center" [ngClass]="{'slideInDown': filename != null, 'slideInUp': filename == null}" *ngIf="filename != null">
    <div class="font-weight-light">Annonce sélectionnée</div>
    <div class="file font-weight-bold">{{filename}}</div>
  </div>
  <div *ngIf="isBusy" class="animated fadeOut faster d-flex flex-column align-items-center">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div *ngIf="success" class="animated tada faster d-flex flex-column align-items-center">
    <img class="success" src="assets/images/success.png"/>
  </div>
  <input hidden #uploader (change)="loadFile($event)" type="file"/>
  <div class="buttons d-flex justify-content-center flex-column">
    <div class="row">
      <button class="col-10 col-sm-3 mx-auto choose" (click)="selectFile()">Choose announcement</button>
    </div>
    <div class="row">
      <button class="col-10 col-sm-3 mx-auto send" (click)="upload()">Send</button>
    </div>
  </div>
</div>
